@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f6f4;
}
div,
section {
  postion: relative;
  z-index:1
}
body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}
